* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 251, 251);
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    background-color: beige;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 3px solid salmon;
    z-index: 10;

}


i {
    font-size: 30px;
    margin-top: 7px;
    padding-left: 0;
}

.logo {
    text-align: center;
    margin-top: 35px;
    color: rgb(34, 2, 8);
    font-size: 23px;

    letter-spacing: 3px;
    font-family: "Rowdies", sans-serif;
    font-family: "Playwrite FR Moderne", cursive;
    font-family: "Merienda", cursive;

}

.logo::after {
    content: attr(main);
    transform: scaleY(-1);
    margin-top: 11px;
    opacity: 0.6;
}

.bx-moon {
    font-size: 22px;
    position: absolute;
    top: 30px;
    right: 50px;
    color: rgb(27, 18, 5);
    z-index: 1;
}

.bx-sun {
    font-size: 22px;
    position: absolute;
    top: 30px;
    right: 50px;
    color: antiquewhite;
    opacity: 0;
    z-index: 0;
}




section {
    text-align: center;
    margin-right: 100px;
    margin-top: 130px;
}

section img {
    width: 160px;
    clip-path: ellipse(40% 45%);

}

.name {
    margin-left: 70px;
    font-size: 17px;
    font-family: "Playwrite FR Moderne", cursive;
    color: rgb(116, 2, 49);
    padding-top: 0;
}

.name b {
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

.skills {
    margin-top: 100px;
    box-shadow: 0 0 3px wheat;
    margin-left: 10%;
    margin-right: 10%;
}

.skills h3 {
    padding-top: 20px;
    margin-left: 30px;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin-left: 40%;
    padding: 2px;
    color: rgb(90, 3, 15);
    font-size: 18px;
    font-weight: bold;
}

.mul_icon a {
    color: black;
    background: none;
}

.bx-chevron-down {
    position: absolute;
    margin-left: 130px;
    margin-top: -60px;
    font-size: 45px;
    cursor: pointer;
    color: rgb(219, 15, 15);
    z-index: 6;
    opacity: 1;
}

.bx-x {
    position: absolute;

    filter: blur(1px);
    margin-left: 130px;
    margin-top: 0;
    opacity: 0;
}


.stud am {
    color: brown;
    font-size: 20px;
    font-weight: 700;
}

.mul_icon a i {

    box-shadow: 1px 0 5px rgb(248, 217, 160);
    border-radius: 50%;
    padding: 10px;
    margin: 3px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
}

.mul_icon i:hover {

    transform: translateY(-10px);
}

a .bxs-phone-call {
    color: blue;
    background-color: aliceblue;
}

a .bxl-whatsapp {
    color: aliceblue;
    background-color: #02973b;

}

a .bxl-telegram {
    color: aliceblue;
    background-color: darkcyan;
}

.main_menu {
    background-color: rgb(224, 208, 208);
    width: 100%;
    height: 400px;
}

footer div img {
    width: 140px;
    margin-left: 20px;
    border-radius: 50%;
    animation: .9s;
}

.nam_menu {
    margin-left: 70px;
    text-transform: unset;
    letter-spacing: 2px;
    font-size: 27px;
    background: linear-gradient(90deg, rgb(8, 252, 211), rgb(255, 166, 0), #f50a0a, rgb(18, 247, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer div am {
    margin-left: 80px;
    word-spacing: 2px;
    color: rgb(29, 26, 24);

}

footer div am h6 {
    margin-left: 30px;
    font-size: 15px;
    margin-top: 10px;

}

.text_name {
    position: absolute;
    margin-top: -70px;
    margin-left: 120px;
}

footer div pre {
    margin-left: -80px;
    color: rgb(19, 22, 196);
    font-size: 17px;
}

footer div pre a {
    color: rgb(106, 53, 231);
}




@media screen and (max-width:800px) {
    .menu {
        height: 100%;
        width: 70%;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgb(26, 1, 17);
        transition: left .9s ease;
        z-index: 11;
        margin: 0;
        padding: 0;
    }

    #btn_menu {
        position: absolute;
        top: 15px;
        margin-left: 18px;
        cursor: pointer;

        color: rgb(236, 44, 163);
        font-size: 50px;
    }
    .if_heart {
        color: burlywood;
    }

    span {
        position: absolute;
        top: 0;
        right: -30px;
        padding: 5px;
        font-size: 28px;
        color: rgb(255, 255, 255);
        background-color: rgb(248, 18, 18);
        cursor: pointer;
    }

    .stud {
        text-align: center;

        margin-right: 20px;

    }

    .menu ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin-top: 70px;
        margin-left: -40px;
        text-align: center;
        cursor: pointer;
    }

    .menu ul li {
        padding: 8px;
        font-size: 22px;
        margin-top: 1px;

    }

    .menu ul a {
        text-decoration: none;
        color: rgb(218, 223, 230);

    }

    .menu ul li:hover {
        transition: .1s ease-in;
        background-color: rgb(205, 243, 134);
        color: black;
    }

    footer .main_menu {
        padding: 0;
        margin: 0;
        margin-top: 30px;
        padding-top: 20px;
        border-top: 2px solid rgb(243, 134, 148);
        color: rgb(34, 20, 2);
        border-bottom: 1px solid rgb(104, 71, 75);

    }


    .show {
        left: 0;
    }


    .filter {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;
        background-color: rgb(252, 210, 186);
        filter: opacity(0.5);
        transition: left .8s ease;
    }

    .show_filter {
        left: 0;
    }
 
}

@media screen and (min-width:800px) {
    

    #btn_menu {
        visibility: hidden;
    }

    .icon_img {
        right: 100px;
        width: 75px;
    }


    main {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-color: cornflowerblue;
        padding-top: 50px;
        text-align: center;
    }

    .section {
        margin-left: 10px;
    }

    .name {
        margin-left: 10px;
        flex-wrap: wrap;
    }

    .main_image {
        margin: 0 39%;
    }

    .skills {
        position: absolute;
        left: 340px;
        width: 350px;

    }

    footer {
        width: 100%;
        margin-bottom: -110px;
        margin-top: 500px;
    }

    .main_menu {
        padding-left: 40%;
    }

    footer img {
        width: 120px;
        margin-top: 40px;
        clip-path: ellipse(40% 50%);
        
    }
}


.m_img {
    width: 300px;
    max-width: 600px;
    height: 300px;
}

.mul_image {
    display: flex;

    width: 280px;

    margin-left: 10px;
    margin-top: -55px;
    overflow: auto;
    opacity: 0;
    padding-bottom: 0;

}

.mul_image img {

    width: 120px;
    height: 60px;

    padding-bottom: 0;
    padding-left: 5px;
}


/* تغيير الألوان */

.sun {
    color: aliceblue;
    background-color: black;
}

.if_body {
    background-color: rgb(15, 2, 24);
}

.if_h1 {
    background: linear-gradient(90deg, rgb(2, 255, 213), rgb(255, 166, 0), #0af564, rgb(18, 247, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.if_color {
    color: bisque;
}



.if_linke {
    color: rgb(13, 150, 13);
}

.if_name {
    color: rgb(0, 255, 136);
}
.if_header{
    background-color: rgb(51, 40, 40);
}